In [ ]:
print("hello")

### Que 1 1

In [44]:
 print(1.5e200 *2.0e210)

inf

When you multiply such large numbers in Python, it can result in overflow,
leading to the output of inf, which stands for "infinity.

### Que 1 2

In [45]:
print(3.4e-320 / 1e100)

0.0

In Python, when a number becomes too small, it underflows to zero. This is because floating-point numbers have limited precision,
and when the magnitude becomes too small, it cannot be represented accurately

### Que 2 1

In [46]:
print(format(1/3,'.3f'))

0.333

### Que 2 2

In [43]:
rupees = int(input("Enter rupees : "))
notes = [2000,500,100,50,10,5,2,1]
for i in notes:
    if(rupees > i):
        count = rupees // i 
        rupees = rupees % i
        #print(i," = ", count)
        print("{:>5}".format(i),"=", count)
        continue

Enter rupees :  578

  500 = 1
   50 = 1
   10 = 2
    5 = 1
    2 = 1

### Q2 3

In [47]:
print(format(1/3,'.1f'))

0.3

### Q2 4

In [48]:
print(6*1/3)

2.0

### Que 2 5

In [49]:
print(1/3 + 1/3 + 1/3 + 1/3 + 1/3 + 1/3)

1.9999999999999998

### Q3 Answer - in que 1 it printed all the values after decimal but in 2nd que there is 3f which limited decimal upto 3 places
### in 4th que it 1st multiplied the value then divided because  * and / has same precedence but from left * came 1st
### in 5th it sum all the value

### Que 4

format can convert in decimal, binary, +ve, -ve value, 
no. after decimal and can find {} in string to add value

### Que 4 a

In [50]:
print(format(22/7,'.5f'))

3.14286

### Que 4 b

In [51]:
q = "{:>10}".format("hello")
print(q)
q2 = "{:<10}".format("hello") 
print(q2)

     hello
hello

### Que 4 d

In [52]:
print('{:#^15}'.format("hello"))

#####hello#####

### Que 4 e

In [53]:
print(" "*10,"hii")

           hii

### Que 5 a

In [54]:
print(ord('a'),ord('A'),ord('z'),ord('Z'))

97 65 122 90

In [55]:
"""Que 5 b"""
print(ord('9'),ord('0'),ord(' '), ord('\n'), ord('\t') )

57 48 32 10 9

In [56]:
"""Que 5 c"""
print(chr(35),chr(67),chr(50), chr(99))

# C 2 c

In [57]:
"""Que 5 d"""
print(ord('a')," to ", ord('z'))

97  to  122

### Que 6

In [58]:
"""Que 6"""
print("abc","\n","bcd")

abc
 bcd

In [59]:
print("abc\nbcd")

abc
bcd

In [60]:
print(1,'\n',2)

1
 2

In [61]:
print("hello \n\n!!")

hello

!!

In [62]:
print("This is '\t' means tab") #---- 7 spaces

This is '	' means tab

In [63]:
print("This","is","different",sep='#') #seperated by #

This#is#different

In [64]:
print("This","is","different",sep='\n')

This
is
different

In [65]:
print("This","is","different",end='\n')

This is different

#### Que 7

In [66]:
print(10/2)  #5.0
print(10//3.0) #3.0
print(101/3) #33.666666666666664
print(101//3) #33
print(101%3) #2 which is modulus
print(2**4) #16 which is 2 power 4
print(3**2) #9 which is 3 power 2
print(abs(-10)) #10
print(divmod(101,3)) #(33,2) 33 quotient, 2 remainder
print(8<<1) #16   1000 <-- 10000 = 16
print(8<<2) #32   10000 <-- 100000
print(32 >> 2) #8 100000 --> 1000
print(16 >> 1) #8 10000 --> 1000

5.0
3.0
33.666666666666664
33
2
16
9
10
(33, 2)
16
32
8
8

### Que 8

In [67]:
m = int(input("Maths :"))
e = int(input("Eng :"))
s = int(input("sci :"))
li = [m,s,e]
total = sum(li)
print(total)

Maths : 80
Eng : 70
sci : 70

220

### Que 9

In [68]:
print(2 + 3 * (4 -1)) #11
print(2 + ((3 *4) - 8)) #6
print((2 + 3) * 4) #20
print(-10 + 25 / (16 + 12))  #-9.107142857142858
print(2 ** 2 ** 2) #16
print((3 ** 2) ** 3)  #729
x = y = 3 + 5   
print(x)  #8
print(8/2*(2+2))  #16

11
6
20
-9.107142857142858
16
729
8
16.0

### Que 10

In [69]:
x=y=10
print(x,y, sep= " ")

10 10

In [70]:
x1 = 20 = y1
print(x1," ", y1) #cannot assign to literals

SyntaxError: cannot assign to literal (3704579841.py, line 1)

### Que 11

In [71]:
x=10
y=34.4
print(x and y)   #34 if x is true then it will print y
print(x or y)   #10 if x is true then print x

34.4
10

# IF ELSE

### Que 1

In [72]:
tc = int(input("Enter total number of classes : "))
ca = int(input("Enter number of classes attended : "))
percent = (ca/tc)* 100
if percent > 75:
    print("allowed")
else:
    print("Not allowed")

Enter total number of classes :  10
Enter number of classes attended :  8

allowed

### Que 3

In [73]:
print("Medical cause or not")
stud = input("Enter y or n : ")
if(stud == 'y'):
    print("allowed")
elif(stud == 'n'):
    print("Not Allowed")
else:
    print("Enter proper input")

Medical cause or not

Enter y or n :  n

Not Allowed

### Que 4

In [74]:
marks = int(input("Enter Marks :"))
if(marks < 25):
    print("F")
elif(marks > 25 and marks <= 45):
    print('E')
elif(marks > 45 and marks <= 50):
    print('F')
elif(marks > 50 and marks <= 60):
    print('D')
elif(marks > 60 and marks <= 80):
    print('B')
else:
    print('A')

Enter Marks : 72

B

### Que 5

In [75]:
x,y,z = 2,5,0
print(x==2)    #True
print(x!= 5) #True
print(x!=5 & y >=5) #True
print(z!= 0 | x == 2)  #True
print( not(y< 10))   #False

True
True
True
True
False

### Que 6

In [76]:
num = int(input("Enter number : "))
if(num % 5 == 0 & num % 11 == 0):
    print("Divisible")
else:
    print("not divisible")

Enter number :  55

Divisible

###  Que 7

In [77]:
bill = int(input("Number of units : "))
if(bill < 100):
    print("no changes ")
elif(bill >= 100 & bill <= 200):
    print("Rs 5 per unit")
else:
    print("Rs 10 per unit")

Number of units :  150

Rs 5 per unit

### Que 8  Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

In [78]:
num = int(input("Enter number : "))
lst = num%10
if(lst%3 == 0 ):
    print("yes")
else:
    print("No")

Enter number :  126

yes

### Que 9

In [79]:
year = int(input("Enter year : "))
if(year % 4 ==0 & year % 400 == 0):
    print("Leap year")
else:
    print("Not leap year")

Enter year :  2024

Leap year

### Que 10

In [80]:
price = int(input("Price of bike : "))
if(price > 100000):
    print("Inssurance 20%, tax 15%")
    T_tax = (price + (price*0.20) + (price * 0.15))
elif(price > 50000 & price <= 100000):
    print("Inssurance 10%, tax 10%")
    T_tax = (price + (price*0.10)+ (price * 0.10))
else:
    print("Inssurance 5%, tax 5%")
    T_tax = (price + (price*0.05)+ (price * 0.05))
print(T_tax)

Price of bike :  70000

Inssurance 10%, tax 10%
84000.0

# Loop Questions

### Que 1

In [82]:
total = 0
for i in range(10):
    num = int(input("enter number : "))
    total = total + num
avg = total/10
print("Average = ", avg)

enter number :  1
enter number :  2
enter number :  3
enter number :  4
enter number :  5
enter number :  6
enter number :  7
enter number :  8
enter number :  9
enter number :  10

Average =  5.5

### Que 2

#### Que 2 a

In [3]:
num = int(input("Enter number of rows : "))
stars = 1
i=0
while(i<num):
    print("*"*stars)
    stars +=1
    i=i+1

Enter number of rows :  5

*
**
***
****
*****

#### Que 2 b

In [15]:
num = int(input("ENter num of rows : "))
spaces = num-1
stars = 1
count = 0
while(count < num//2+1):
    print(" "*spaces,"*"*stars)
    count+=1
    stars+=2
    spaces -= 2
spaces +=4
stars -= 4
count = 0
while(count < num//2):
    print(" "*spaces,"*"*stars)
    count+=1
    stars-=2
    spaces+=2

ENter num of rows :  5

     *
   ***
 *****
   ***
     *

#### Que 2 c

In [22]:
num = int(input("Enter number of rows: "))
spaces = 0
count = 0
tens = num - 1
while(count < num):
    print(" "*spaces,"10"*tens,'1',sep="")
    spaces+=1
    tens-=1
    count+=1

Enter number of rows:  4

1010101
 10101
  101
   1

In [1]:
# num = int(input("Enter number of rows : "))
# i = 1
# count = 0
# while(count < num):
#     print(count)
#     i+=1
#     count+=1

Enter number of rows :  5

1
2
3
4
5

#### Que 2 d

In [4]:
num = int(input("Enter number of rows : "))
for i in range(num):
    for j in range(1,i+2):
        print(j, end = " ")
    print("")

Enter number of rows :  5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Que 3

In [11]:
n1 = int(input("Enter 1st number"))
n2 = int(input("Enter 2nd number"))
while(n1!=n2):
    if n2 > n1:
        n2 = n2-n1
    else:
        n1 = n1-n2
print("HCF = ",n1)

Enter 1st number 24
Enter 2nd number 36

HCF =  12

### Que 4

In [18]:
mul = 1
avg=0
count = 0
while(True):
    num = input("Enter number")
    if(num == 'q'):
        break
    num =int(num)
    mul = mul*num
    avg = avg+num
    count+=1
print(avg)
print("Avg = ", avg/count)
print("product = ", mul)

Enter number 1
Enter number 2
Enter number 3
Enter number 4
Enter number 5
Enter number q

15
Avg =  3.0
product =  120

### Que 5

In [20]:
num = int(input("Enter number"))
total = 0
sum = 0
while(num!=0):
    a = num%10
    total = total+1
    sum = sum +a
    num = num // 10
print("Number of digits = ", total)
print("Sum of digits is = ", sum)

Enter number 526

Number of digits =  3
Sum of digits is =  13

### Que 6

In [24]:
import math
num = int(input("Enter number"))
for i in range(1,num):
    print(i*i*i)

Enter number 5

1
8
27
64

### Que 7

In [26]:
sum = 0
for i in range(1,20):
    num = int(input("Enter number : "))
    if(num % 2 ==0):
        sum = sum+num
print(sum)

Enter number :  2
Enter number :  4
Enter number :  6
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1
Enter number :  1

12

### Que 8

In [10]:
length = int(input("Enter length of series : "))
count = 1
li = []
while(count <= length):
    elem = "9"*count
    elem = int(elem)
    li.append(elem)
    count += 1
print("Sum of all numbers : ",sum(li))

Enter length of series :  3

1107

### Que 9

In [ ]:
#[ 1+x+x^2/2!+x^3/3!+....]

In [2]:
import math
length = int(input("Enter length of list : "))
x = int(input("Enter value of x "))
count = 0
li = []
while(count < length):
    num = pow(x,count)/math.factorial(count)
    li.append(num)
    count+=1
print(li)
print(sum(li))

Enter length of list :  5
Enter value of x  3

[1.0, 3.0, 4.5, 4.5, 3.375]
16.375

### Que 10

In [ ]:
# [ x - x^3 + x^5 –x^7+x^9-x^11+ ......]

In [4]:
length = int(input("Enter length of string : "))
num = int(input("Enter number to be powred : "))
count = 1
power = 1
li = []
while(count < length+1):
    elem = pow(num,power)
    if(count%2 == 0):
        elem = elem * -1
    li.append(elem)
    power += 2
    count += 1
print(li)
print("Sum = ",sum(li))

Enter length of string :  5
Enter number to be powred :  2

[2, -8, 32, -128, 512]
Sum =  410

### Que 11

In [7]:
num = int(input("Enter number"))
idx = 2
while(idx < int(num**0.5)+1):
    if(num % idx == 0):
        print("Not prime")
        break
    idx += 1
else:
    print("prime")

Enter number 14

Not prime

### Que 12

In [16]:
num = int(input("Enter number : "))
total = 0
for i in range(3,num,2):
    total = total+i
    
print(total)

Enter number :  10

24