1. Write a Python script to sort (ascending and descending) a dictionary by value.

In [ ]:
Sample Dictionary : {0: 10, 1: 20}

2. Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [3]:
di = {0: 10, 1: 20}
di[2] = 30 # di.add di.insert XXX
di

{0: 10, 1: 20, 2: 30}

3. Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [4]:
d1={1:10, 2:20} 
d2={3:30, 4:40} 
d3={5:50,6:60}
d = {**d1,**d2,**d3}
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
d4 = {}
for key,val in d1.items():
    d4[key] = val
for key,val in d2.items():
    d4[key] = val
for key,val in d3.items():
    d4[key] = val
d4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Write a Python script to check whether a given key already exists in a dictionary.

In [14]:
di = {0: 10, 1: 20,'ab':30}
k = 1
for i in di.keys():
    if(i == 1):
        print("Found")
        c=1
        break
    else:
        c=0
if(c==0):
    print("not found")

Found

5. Write a Python program to iterate over dictionaries using for loops.

In [1]:
dct = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for key in dct.keys():
    print(dct[key])

10
20
30
40
50
60

6. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}/

In [3]:
dd = {}
for i in range(1,6):
    dd[i] = i*i
dd

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [4]:
dd1 = {}
for i in range(1,16):
    dd1[i] = i*i
dd1

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

8. Write a Python script to merge two Python dictionaries.

In [5]:
d1={1:10, 2:20} 
d2={3:30, 4:40}
d3= {}
for key,value in d1.items():
    d3[key] = value
for key,value in d2.items():
    d3[key] = value 
d3

{1: 10, 2: 20, 3: 30, 4: 40}

10. Write a Python program to sum all the items in a dictionary.

In [9]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for i in d.values():

dict_values([10, 20, 30, 40, 50, 60])

12. Write a Python program to remove a key from a dictionary.

In [6]:
d1={1:10, 2:20} 
del d1[1]
d1

{2: 20}

13. Write a Python program to map two lists into a dictionary.

In [9]:
dt =dict(zip([10,20],[30,80]))
dt

{10: 30, 20: 80}

14. Write a Python program to sort a given dictionary by key. And output should be a dictionary.

In [5]:
d = {1: 10,4: 40, 2: 20, 3: 30, 5: 50, 6: 60}
p = sorted(d)
d2 = {k: d[k] for k in p}
d2

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
d3={}
for k in p:
    d3[k] = d[k]
d3

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

15. Write a Python program to get the maximum and minimum values of a dictionary.

In [19]:
d = {1: -10, 2: -20, 3: -30, 4: -40, 5: -50, 6: -60}
l = list(d.values())
mx = l[0]
mn = l[0]
for i in l:
    if(mx < i):
        mx = i
    elif(mn >i):  
        mn = i
print(mx,mn)

-10 -60

In [17]:
17. Write a Python program to remove duplicates from the dictionary.

dict_values

18. Write a Python program to check if a dictionary is empty or not.

In [20]:
d ={}
bool(d)

False

19. Write a Python program to combine two dictionary by adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [12]:
d1 = {'a': 100, 'b': 200, 'c':300} 
d2 = {'a': 300, 'b': 200, 'd':400}
d3 ={}
for i in d1.keys():
    if(i in d2.keys()):
        d3[i] = d1[i] + d2[i]
    else:
        d3[i] = d1[i]

for i in d2.keys():
    if(i not in d1.keys()):
        d3[i] = d2[i]
d3

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

20. Write a Python program to print all distinct values in a dictionary.
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [27]:
data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
s =set()
for i in data:
    for j in i.values():
        s.add(j)
s

{'S001', 'S002', 'S005', 'S007', 'S009'}

KeyError: 0

21. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
Sample data : {'1':['a','b'], '2':['c','d']}
Expected Output:
ac
ad
bc
bd

In [2]:
cm = {'1':['a','b'], '2':['c','d']}
ls=[]
for i in cm.values():
    ls.append(i)
ls

[['a', 'b'], ['c', 'd']]

22. Write a Python program to find the highest 3 values of corresponding keys in a dictionary.

In [3]:
d1 = {'a': 100, 'b': 500, 'c':300,'d':200} 
ds = sorted(d1.values())
ds[:3]

[100, 200, 300]

23. Write a Python program to combine values in a list of dictionaries.
Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
Expected Output: Counter({'item1': 1150, 'item2': 300})

In [20]:
itm =  [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
dct = {}
for i in itm:
    if i['item'] in dct:
        dct[i['item']] += i['amount']
    else:
        dct[i['item']] = i['amount']
dct

{'item1': 1150, 'item2': 300}

24. Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'w3resource'
Expected output: {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [21]:
st= 'w3resource'
dct = {}
for i in st:
    dct[i] = st.count(i)
dct

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

27. Write a Python program to convert a list into a nested dictionary of keys.

Ex. i/p [1, 2, 3, 4]
o/p  {1: {2: {3: {4: {}}}}}

28. Write a Python program. There is a dictionary where values contain list of integers.
So, program should sort that list and return complete dictionary
Ex. 
i/p
{'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
o/p
{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [28]:
p = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
q = {}
for i in p.keys():
    q[i] = sorted(p[i])
q

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

29. Write a Python program to remove spaces from dictionary keys.
After removing spaces if keys repeat then keep the latest value.
Ex. 
i/p
{'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English'], 'S 3':['Math', 'English'], 'S3':['English'], }
o/p
{'S001': ['Math', 'Science'], 'S002': ['Math', 'English'], 'S3':['English']}

In [37]:
sub = {'S 001': ['Math', 'Science'], 'S 002': ['Math', 'English'], 'S 3':['Math', 'English'], 'S3':['English'] }
sub1 = {}
for i in sub:
    sub1[i.replace(" ","")] = sub[i]
sub1

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English'], 'S3': ['English']}

30. Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

In [48]:
ta = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
at = tuple(ta.items())
sort = sorted(at,key = lambda x : x[1],reverse = True)
sort = dict(sort[:3])
sort

{'item4': 55, 'item1': 45.5, 'item3': 41.3}


34. Write a Python program to count the total number of items under all keys in a dictionary value that is a list.
Ex. 
i/p {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
o/p total values : 5

In [53]:
al =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
l =0
for i in al.values():
    l += len(i)
l

5

35. Write a Python program to sort dictionary by value.
Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [59]:
a = {'Math':81, 'Physics':83, 'Chemistry':87}
b = sorted(tuple(a.items()),key = lambda x : x[1],reverse = True)
b

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]

36. Write a Python program to create a dictionary from two lists without losing duplicate values.
Sample lists: ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII'], [1, 2, 2, 3]
Expected Output: defaultdict(<class 'set'>, {'Class-V': {1}, 'Class-VI': {2}, 'Class-VII': {2}, 'Class-VIII': {3}})

In [3]:
sl = ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
num  = [1, 2, 2, 3]
dc = dict(zip(sl,num))
dc

{'Class-V': 1, 'Class-VI': 2, 'Class-VII': 2, 'Class-VIII': 3}

38. Write a Python program to match key values in two dictionaries.
Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
Expected output: key1: 1 is present in both x and y

In [8]:
d1 = {'key1': 1, 'key2': 3, 'key3': 2}
d2 = {'key1': 1, 'key2': 2}
for i in d1.items():
    if(i in d2.items()):
        print(i)

('key1', 1)

40. Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.
{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
15
25
35

In [12]:
dt = {'x': [11, 12, 13, 14, 15, 16, 17, 18, 19], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
for i in dt:
    print(dt[i][4])

15
25
35

42. Write a Python program to filter a dictionary based on values.
Original Dictionary:
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Marks greater than 170:
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [20]:
ry = {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
ryt = sorted(tuple(ry.items()), key = lambda x : x[1])
ryt = dict(ryt) 
der = {}
for i in ryt:
    if(ryt[i] > 170):
        der[i] = ryt[i]
der

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

43. Write a Python program to convert more than one list to a nested dictionary.
Original strings:
['S001', 'S002', 'S003', 'S004']
['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
[85, 98, 89, 92]
Nested dictionary:
[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]

In [55]:
os = ['S001', 'S002', 'S003', 'S004']
oa = ['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
on = [85, 98, 89, 92]
lt = []
dct = dict(zip(oa,on))
print(dct)
for i,e in dct.items():
    d = dict()
    d[i] = e
    lt.append(d)
dct = dict(zip(os,lt))
print(dct)

{'Adina Park': 85, 'Leyton Marsh': 98, 'Duncan Boyle': 89, 'Saim Richards': 92}
{'S001': {'Adina Park': 85}, 'S002': {'Leyton Marsh': 98}, 'S003': {'Duncan Boyle': 89}, 'S004': {'Saim Richards': 92}}

45. Write a Python program to verify that all values in a dictionary are the same.
Original Dictionary:
{'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}

In [59]:
same = {'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
s = set(same.values())
if(len(s) == 1):
    print(True)
else:
    print(False)

True

In [ ]:
46. Write a Python program to create a dictionary grouping a sequence of key-value pairs into a dictionary of lists.
Original list:
[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
Grouping a sequence of key-value pairs into a dictionary of lists:
{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

In [66]:
c= [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = dict()
for i,j in c:
    if(i in d):
        d[i].append(j)
    else:
        d[i] = [j]

d

{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

47. Write a Python program to split a given dictionary of lists into lists of dictionaries.
Original dictionary of lists:
{'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
Split said dictionary of lists into list of dictionaries:
[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, {'Science': 95, 'Language': 80}]

In [65]:
dct = {'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}

Key  | Value
---------------
Name | John
Age  | 30
City | New York