2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [2]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [4]:
set1 = {10, 20, 30, 40, 50,25} 
set2 = {30, 40, 50, 60, 70,100}
print(set1.union(set2)-set1.intersection(set2))

{100, 70, 10, 20, 25, 60}

4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [9]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

5. Update set1 by adding items from set2, except common items

In [12]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 = set1.symmetric_difference(set2)
set1

{10, 20, 60, 70}

6. Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [17]:
sent = "hello i am harsh nipane i m indian"
set(sent)

{' ', 'a', 'd', 'e', 'h', 'i', 'l', 'm', 'n', 'o', 'p', 'r', 's'}

## Tuple

1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [19]:
tp = (10, 20, 30, 40, 50,60)
tp = tp[::-1]
tp

(60, 50, 40, 30, 20, 10)

2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [21]:
t = ("Orange", [10, 20, 30], (5, 15, 25))
print(t[1][1])

20

5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [23]:
e1 = (11, 22, 33, 44, 55, 66)
e2 = e1[3:5]
e2

(44, 55)

6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [27]:
tu= (11, [22, 33], 44, 55)
tu[1][0] = 200
tu

(11, [200, 33], 44, 55)