1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]

In [2]:
alist = [100, 200, 300, 400, 500]
print(alist[::-1])

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [5]:
l1 = []
for i in range(150,251,2):
    l1.append(i)

l2 = [elem for elem in l1 if elem % 4 == 0]
print(l2)

[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49]

In [11]:
import math
a1 = [1, 4, 9, 16, 25, 36, 49]
a2 = []
for i in a1:
    a2.append(math.trunc(i**0.5))
print(a2)

[1, 2, 3, 4, 5, 6, 7]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [12]:
list1 = [5, 6,7] 
list2 = [0, 1] 
print(3++4)

7

In [20]:
for i in range(len(list1)):
    for j in range(len(list2)):
        num1 = list1[i]
        num2 = list2[j]    
        print(str(num1)+str(num2))

50
51
60
61
70
71

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [31]:
l1 = [10, 20, 30, 40] 
l2 = [100, 200, 300, 400,500]
i =0
j = len(l2)-1
while(i !=len(l1) and j >=0):
    print(l1[i],l2[j],sep=" ")
    i +=1
    j -=1

10 500
20 400
30 300
40 200

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [33]:
name = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
for i in name:
    if(i == ""):
        name.remove(i)
print(name)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [37]:
ad = [10, 20, [300, 400, [5000, 6000], 500], 30, 40] 
ad[2][2].insert(2,7000)
print(ad)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8 Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [9]:
b = ["h", "i", "j"]
b1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"] 
b1[2][1][2][2:] =b
b1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [11]:
 lt = [5, 10, 15, 20, 25, 50, 20]
for i,e in enumerate(lt):
    if e == 20:
        lt[i] = 200
        break

print(lt)

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [14]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if(i ==20):
        list1.remove(i)
list1

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [31]:
num = int(input("enter number"))
l = []
max =0
min =0
while(num != 0):
    m = num % 10
    l.append(m)
    num = num //10
l.sort()
c=1
for i in range(len(l)):
    if(i==0):
        max = max + (l[i]*c)
    else:
        max = max + (l[i]*c)
    c = c*10    
print("Max =",max) 
c=1
l.sort(reverse = True)
for i in range(len(l)):
    if(i==0):
        min = min + (l[i]*c)
    else:
        min = min + (l[i]*c)
    c = c*10    
print("Min =",min)

enter number 2674

Max = 7642
Min = 2467

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [4]:
num = (input("enter the number: "))
l1 = list(num)

enter the number:  1234

['1', '2', '3', '4']

In [1]:
l1 = [ 0 , 1]
x= l1[0]   # x =0
x, l1[x] = 1, 300  # x =1, l1[1] = 300
print(l1)

[0, 300]

In [3]:
comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'), 4]
print(comp)

False

In [3]:
t =(1,2,3,4,[10,20])
t[-1][0] = 1000
t

(1, 2, 3, 4, [1000, 20])

In [11]:
s= frozenset([1,2,3,5,6])
type(s)
s2 = {1,2,3,4,s}
s2

{1, 2, 3, 4, frozenset({1, 2, 3, 5, 6})}