1. Write a Python program to create a tuple.

In [8]:
t= (1,2,3,4)
t

(1, 2, 3, 4)

2. Write a Python program to create a tuple with different data types

In [12]:
t1 = ( 10, [20,30], 40)
t2 = ("abc",[20,30],70.8)
print(t1,t2)

(10, [20, 30], 40) ('abc', [20, 30], 70.8)

3. Write a Python program to create a tuple of numbers and print one item.

4. Write a Python program to unpack a tuple into several variables.

In [3]:
v1,v2= (1,2)
print(v1,v2)

1 2

5. Write a Python program to add an item to a tuple.

cant add elements in tuple

6. Write a Python program to convert a tuple to a string.

In [14]:
t2 = ('h','a','r','s','h')
"".join(t2)

'harsh'

In [15]:
t1 = ('h','a','r','s','h')
str(t1)

"('h', 'a', 'r', 's', 'h')"

In [16]:
t3 = (1,2,3,4)
s3 =""
for i in t3:
    s3+= str(i)
s3

'1234'

7. Write a Python program to get the 4th element from the last element of a tuple.

In [17]:
t3 = (1,2,3,4,5,6)
n = t3[-4]
n

3

9. Write a Python program to find repeated items in a tuple.

In [28]:
t3 = (1,2,3,3,4,5,6,6,7)
for e1 in set(t3):
    if t3.count(e1) > 1:
        print("repeated elem:", e1)

repeated elem: 3
repeated elem: 6

8. Write a Python program to create the  a tuple in another tuple.

In [62]:
t2 = (7,5)
t1 = (1,2,3,t2)
t1

(1, 2, 3, (7, 5))

10. Write a Python program to check whether an element exists within a tuple.

In [29]:
n=3
tp = (1,2,3,3,4,5,6,6,7)
if(n in tp):
    print("Yes")

Yes

11. Write a Python program to convert a list to a tuple.

In [52]:
l1 = [1,2,3,4,5,6,7]
t =tuple(l1)
t

(1, 2, 3, 4, 5, 6, 7)

In [51]:
t1 =(l1,)
t1

([1, 2, 3, 4, 5, 6, 7],)

12. Write a Python program to remove an item from a tuple.

immutable

13. Write a Python program to slice a tuple.

In [42]:
ts = (1,2,3,4)
print(ts[:])

(1, 2, 3, 4)

14. Write a Python program to find the index of an item in a tuple.

In [44]:
ts = (1,2,3,4)
print(ts.index(4))

3

15. Write a Python program to find the length of a tuple.

In [53]:
le = len(ts)
le

4

In [55]:
count =0
for i in ts:
    count+=1
count

4

16. Write a Python program to convert a tuple to a dictionary.

In [66]:
ts = (['one'],1)
d =dict(zip(ts))
d

ValueError: dictionary update sequence element #0 has length 1; 2 is required

17. Write a Python program to unzip a list of tuples into individual lists.

In [69]:
lot = [(1,2,3),(4,5,6),(7,8,9)]
for tp in lot:
    print(list(tp))

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

18. Write a Python program to reverse a tuple.

In [72]:
ts = (1,2,3,4)
t2 = ts[::-1]
print(t2,tuple(reversed(ts)),sorted(ts,reverse=True))

(4, 3, 2, 1) (4, 3, 2, 1) [4, 3, 2, 1]

19. Write a Python program to convert a list of tuples into a dictionary.

In [73]:
lot = [('two',2),('five',5),('nine',9)]
dict(lot)

{'two': 2, 'five': 5, 'nine': 9}

20. Write a Python program to print a tuple with string formatting.
Sample tuple : (100, 200, 300)
Output : This is a tuple (100, 200, 300)

In [76]:
ts = (1,2,3,4)
st =str(ts)
print("tHIS IS TUPLE",st)

tHIS IS TUPLE (1, 2, 3, 4)

In [78]:
for i in st:
    print(i)

(
1
,

2
,

3
,

4
)

21. Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [88]:
l1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
l2 =[]
for i in l1:
    l2.append(tuple((*i[:2],100)))
l2

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

22. Write a Python program to remove an empty tuple(s) from a list of tuples.
Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [90]:
sd = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
l2 = [elem for elem in sd if len(elem) != 0]
l2

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

23. Write a Python program to sort a tuple by its float element.
Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [106]:
ls = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
l1 =[float((t[1])) for t in ls]
l1.sort(reverse = True)
l2 = [()]*len(l1)
for tup in ls:
    idx = l1.index(float(tup[1]))
    l2[idx] = tup
print(l2)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

24. Write a Python program to count the elements in a list until an element is a tuple.

In [111]:
lot = [1,[2,22],3,4,5,6,(1,2,3)]
count=0
for i in lot:
    if(type(i) == tuple):
        break
    count+= 1    
print(count)

6

25. Write a Python program to convert a given string list to a tuple.
Original string: python 3.0

Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [2]:
st = 'python 3.0'
stu = tuple(st)
stu

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

26. Write a Python program to calculate the product, multiplying all the numbers in a given tuple.
Original Tuple:
(4, 3, 2, 2, -1, 18)
Product - multiplying all the numbers of the said tuple: -864
Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

In [5]:
T= (4, 3, 2, 2, -1, 18)
mul =1
for i in T:
    mul *= i
print(mul)

-864

27. Write a Python program to calculate the average value of the numbers in a given tuple of tuples.
Original Tuple:
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
Average value of the numbers of the said tuple of tuples:
[30.5, 34.25, 27.0, 23.25]

In [12]:
gt = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
lt = []
summ =0
for i in gt:
    for j in i:
        summ+= j
    lt.append(summ/len(i))
lt

[10.5, 54.5, 112.5, 115.0]

28. Write a Python program to convert a tuple of string values to a tuple of integer values.
Original tuple values:
(('333', '33'), ('1416', '55'))
New tuple values:
((333, 33), (1416, 55))

In [44]:
ts = (('333', '33'), ('1416', '55'))
lt = []
ls = []

for i in ts:
    for j in i:
        lt.append(int(j))
    ls.append(tuple(lt))
    lt=[]    
tuple(ls)

((333, 33), (1416, 55))

29. Write a Python program to convert a given tuple of positive integers into an integer.
Original tuple:
(1, 2, 3)
Convert the said tuple of positive integers into an integer:
123
Original tuple:
(10, 20, 40, 5, 70)
Convert the said tuple of positive integers into an integer:
102040570

In [33]:
e =(10, 20, 40, 5, 70)
st= ""
for i in e:
    st+= str(i)
int(st)

102040570

30. Write a Python program to check if a specified element appears in a tuple of tuples.
Original list:
(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
Check if White presenet in said tuple of tuples!
True
Check if White presenet in said tuple of tuples!
True
Check if Olive presenet in said tuple of tuples!
False

In [43]:
cl =(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
count =0
for i in cl:
    for j in i:
        if(j == 'White'):
            count=1
if(count == 1):
    print(True)

True

31. Write a Python program to compute the element-wise sum of given tuples.
Original lists:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)
Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [46]:
t1=(1, 2, 3, 4)
t2=(3, 5, 2, 1)
t3=(2, 2, 3, 1)
ls =[]
for i,j,k in zip(t1,t2,t3):
    ls.append(i+j+k)
tuple(ls)

(6, 9, 8, 6)

32. Write a Python program to compute the sum of all the elements of each tuple stored inside a list of tuples.
Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]
Original list of tuples:
[(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[9, -1, 7, 8]

In [47]:
tp= [(1, 2), (2, 3), (3, 4)]
lt =[]
for i in tp:
    sm=0
    for j in i:
        sm += j
    lt.append(sm) 
lt

[3, 5, 7]

In [ ]:
33. Write a Python program to convert a given list of tuples to a list of lists.
Original list of tuples: [(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3], [3, 4]]
Original list of tuples: [(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]

In [49]:
l= [list(elem) for elem in tp ]
l

[[1, 2], [2, 3], [3, 4]]