create employee classCreate Employee class to have employee details
    empid int
    name str
    designation str
    salary int  --> make it private (hidden)
    project_ids_assigned (set)
    skills list of str
    company name : 
         shared in all employees

Functionalities (methods):
        display_projetids()
        display_identity()
        check_relevant_skill()
        
        display_company_details():
            shared in all (class method)

In [146]:
class employee:
    company_name = "techmeta"
    def __init__(self,empid,name,designation,salary,projectid,skills):
        self.empid = empid
        self.name = name
        self.designation = designation
        self.__salary = salary
        self.projectid = projectid
        self.skills = skills
        
    def display_projetids(self):
         print("projects:",self.projectid)


    def identity(self):
        print(self.empid,self.name,self.designation,self.__salary)

    def check_relevant_skill(self,skill):
        if(skill in self.skills):
            print(self.empid,self.name)
        else:
            print("no python")
        
    @classmethod
    def display_company_details(cls):
        print(cls.company_name)

In [147]:
e1 = employee(1,"harry","Developer","5000000",{2,3,4},["python","sql","analytics"])

In [148]:
e1.identity()

1 harry Developer 5000000

In [149]:
e1.display_projetids()

projects: {2, 3, 4}

In [150]:
e2 = employee(2,"jimmy","testing","900000",{1,3,4},["agile","sql","linux"])

In [151]:
e2.identity()

2 jimmy testing 900000

In [152]:
e2.display_projetids()

projects: {1, 3, 4}

In [153]:
e3 = employee(3,"david","java developer","2000000",{2,8,5},["java","javascript","python"])

In [154]:
e3.identity()

3 david java developer 2000000

In [155]:
e3.display_projetids()

projects: {8, 2, 5}

In [156]:
e1.check_relevant_skill('python')

1 harry

In [160]:
e2.check_relevant_skill('python')

no python

In [161]:
e3.check_relevant_skill('java')

3 david

In [144]:
l = [e1,e2,e3]
def pythonskill():
    for i in l:
        if("python" in i.skills):
            print(i.empid,i.name)
pythonskill()

1 harry
3 david

create employee classCreate Employee class to have employee details empid int name str designation str salary int --> make it private (hidden) project_ids_assigned (set) skills list of str company name : shared in all employees

Functionalities (methods): display_projetids() display_identity() check_relevant_skill()

    display_company_details():
        shared in all (class method)

In [29]:
class employee:
    company= "techhub"
    def __init__(self,empid,name,desig,salary,project_id:set,skills:list):
        
        self.name = name
        self.empid = empid
        self.desig = desig
        self.__salary = salary
        self.project_id = project_id
        self.skills = skills

    def display_project(self):
        print(self.project_id)

    def display_identity(self):
        print(self.empid,self.name,self.desig,self.skills)

    def check_skills(self,skill):
        if skill in self.skills:
            return True
        else:
            return False

    @classmethod
    def display_company(cls):
        cls.company_id = 854767854
        print(cls.company_id)

In [30]:
emp1 = employee(101,'vrukodar','analyst',99000,{1,4,3,6},['python','linux','sql'])

In [31]:
emp1.display_project()

{1, 3, 4, 6}

In [32]:
emp1.display_identity()

101 vrukodar analyst ['python', 'linux', 'sql']

In [33]:
emp1.check_skills('python')

True

In [34]:
employee.company

'techhub'

In [36]:
emp1.display_company()

854767854

In [39]:
emp1.salary

AttributeError: 'employee' object has no attribute 'salary'