1. Write a Python program to sum all the items in a list.

In [1]:
l = [1,2,3,4,5]
s=0
for i in l:
    s = s + i
    
print(s)

15

2. Write a Python program to multiply all the items in a list.

In [3]:
li = [1,2,3,4,5]
m=1
for i in li:
     m= m * i
print(m)

120

3. Write a Python program to get the largest number from a list.

In [5]:
l1 = [1,2,3,4,5]
print(max(l1))

5

4. Write a Python program to get the smallest number from a list.

In [6]:
l1 = [1,2,3,4,5]
print(min(l1))

1

5. Write a Python program to count the number of strings from a given list of strings. 
Condition is, the string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [8]:
Lt = ['abc', 'xyz', 'aba', '1221']
count=0
for i in Lt:
    if(len(i)>=2 and i[0] == i[len(i)-1]):
        count +=1
print(count)

2

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [15]:
sl = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sl2 = sorted(sl, key=lambda x: x[-1])
sl2

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3041044706.py, line 3)

7. Write a Python program to remove duplicates from a list. Use another list to store unique values.

In [11]:
ll = [14,1,2,5,3,2,4,5,14]
ll2 = set(ll)
ll2

{1, 2, 3, 4, 5, 14}

In [16]:
ll = [14,1,2,5,3,2,4,5,14]
li =[]
for i in ll:
    if(i not in li):
        li.append(i)
        
li

[14, 1, 2, 5, 3, 4]

8. Write a Python program to check if a list is empty or not

In [17]:
el =[]
if(len(el) == 0):
    print("empty")
else:
    print("not empty")

enpty

9. Write a Python program to clone or copy a list.

In [19]:
ll = [14,1,2,5,3,2,4,5,14]
cl = ll[:]
cl

[14, 1, 2, 5, 3, 2, 4, 5, 14]

10. Write a Python program to find the list of words that are longer than n from a given list of words.

In [21]:
n = int(input("enter n"))
Lt = ['abcfd', 'xyzkemfnef','au', 'aba', '1221297393874']
for i in Lt:
    if(len(i) > n):
        print(i)

enter n3
abcfd
xyzkemfnef
1221297393874

11 Write a Python function that takes two lists and returns True if they have at least one common member.

In [29]:
Lt = ['abcfd', 'xyzkemfnef','au', 'aba', '1221297393874']
lt = ['abc', 'xyz', 'aba', '1221']
for i in Lt:
    if(i in lt):
        print(True)
        break

True

12 Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [31]:
cl = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
r = cl[1:4]
r

['Green', 'White', 'Black']

13 Write a Python program to generate a 3*4*6 3D array whose each element is *.

14. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [34]:
all = [14,1,2,5,3,2,4,5,14]
odd = [elem for elem in all if elem % 2 != 0] 
odd

[1, 5, 3, 5]

15. Write a Python program to shuffle and print a specified list.

In [2]:
import random
s = [1,2,3,4,5]
random.shuffle(s)
s

[2, 3, 4, 5, 1]

16. Write a Python program to generate and print a list of the first and last 5 elements where the values are square numbers between 1 and 30 (both included).

In [9]:
sqr=[]
for i in range(1,31):
    sqr.append(i*i)
sqr 
print(sqr[:5]+sqr[26:31])

[1, 4, 9, 16, 25, 729, 784, 841, 900]

17. Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.
Sample Data:
([0, 3, 4, 7, 9]) -> False
([3, 5, 7, 13]) -> True
([1, 5, 3]) -> False

In [14]:
from sympy import isprime
l1 = [3, 5, 7, 13]
if(all(isprime(num) for num in l1)):
    print(True)
else:
    print(False)

True

18. Write a Python program to generate all permutations of a list in Python.
[Hint use library function]

In [19]:
l1 = [3, 5, 7, 1]
from itertools import permutations
pr = list(permutations(l1))
pr

[(3, 5, 7, 1),
 (3, 5, 1, 7),
 (3, 7, 5, 1),
 (3, 7, 1, 5),
 (3, 1, 5, 7),
 (3, 1, 7, 5),
 (5, 3, 7, 1),
 (5, 3, 1, 7),
 (5, 7, 3, 1),
 (5, 7, 1, 3),
 (5, 1, 3, 7),
 (5, 1, 7, 3),
 (7, 3, 5, 1),
 (7, 3, 1, 5),
 (7, 5, 3, 1),
 (7, 5, 1, 3),
 (7, 1, 3, 5),
 (7, 1, 5, 3),
 (1, 3, 5, 7),
 (1, 3, 7, 5),
 (1, 5, 3, 7),
 (1, 5, 7, 3),
 (1, 7, 3, 5),
 (1, 7, 5, 3)]

19. Write a Python program to calculate the difference between the two lists.
ex. 
l1=[1,4,7,8]
l2=[2,5,7,23]
ans => total difference is 17
explaination: 
first element diff 1
second element diff 1
third element diff 0
fourth element diff 15

In [25]:
l1=[1,4,7,8] 
l2=[2,5,7,23]
ad=0
if(l1<l2):
    a=len(l1)
    s=l2
else:
    a=len(l2)
    s=l1
for i in range(a):
    ad += l2[i] -l1[i]
for j in s[4:]:
    ad += i
print(ad)

17

20. Write a Python program to access element at given index of a list.

In [28]:
n = int(input("enter no"))
li = [1,4,7,8,2,5,7,23]
print(li[n])

enter no3
8

21. Write a Python program to convert a list of characters into a string.

In [33]:
lt = ['a','b','c','f','d']
s=""
for i in lt:
    s += i
print(s)

abcfd

22. Write a Python program to find the index of an item in a specified list.

In [35]:
n=8
li = [1,4,7,8,2,5,7,23]
print(li.index(n))

3

23. Write a Python program to flatten a simple list.

In [38]:
f = [[1, 2], [3, 4], [5, 6]]
k =[]
for i in range(len(f)):
    for j in range(len(f[i])):
        k.append(f[i][j])
        
print(k)

[1, 2, 3, 4, 5, 5, 6]

24. Write a Python program to append all elements from a list to the second list.

In [39]:
li = [1,4,7,8,2,5,7,23]
lj=[elem for elem in li]
lj

[1, 4, 7, 8, 2, 5, 7, 23]

In [44]:
li = [1,4,7,8,2,5,7,23]
lk =[]
for i in li:
    lk.append(i)
lk

[1, 4, 7, 8, 2, 5, 7, 23]

25. Write a Python program to select an item randomly from a list.

In [46]:
import random
li = [1,4,7,8,2,5,7,23]
print(random.choice(li))

2

26. Write a Python program to check whether two lists are circularly identical.
Ex.
l1=[1,2,3,4]
l2=[2,3,4,1]
l3=[4,1,2,3]
l4=[3,4,1,2] 
all l1, l2, l3 and l4 are circularly same

27. Write a Python program to find the second smallest number in a list.

In [1]:
li = [7,4,2,8,17,5,1,23]
m=min(li)
r = li[:].remove(m)
r

28. Write a Python program to find the second largest number in a list.

In [1]:
li = [1,4,17,8,2,5,7,23]
print(min(li))

1

In [3]:
rm

29. Write a Python program to get unique values from a list.

In [17]:
li = [1,4,7,8,4,5,7,1]
s = set(li)
s

{1, 4, 5, 7, 8}

30. Write a Python program to get the frequency of every element in a list.

In [ ]:
li = [1,4,7,8,4,5,7,1]
for i in