1. Write a Python program to sum all the items in a list.

In [1]:
l = [1,2,3,4,5]
s=0
for i in l:
    s = s + i
    
print(s)

15

2. Write a Python program to multiply all the items in a list.

In [3]:
li = [1,2,3,4,5]
m=1
for i in li:
     m= m * i
print(m)

120

3. Write a Python program to get the largest number from a list.

In [5]:
l1 = [1,2,3,4,5]
print(max(l1))

5

4. Write a Python program to get the smallest number from a list.

In [6]:
l1 = [1,2,3,4,5]
print(min(l1))

1

5. Write a Python program to count the number of strings from a given list of strings. 
Condition is, the string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [8]:
Lt = ['abc', 'xyz', 'aba', '1221']
count=0
for i in Lt:
    if(len(i)>=2 and i[0] == i[len(i)-1]):
        count +=1
print(count)

2

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [15]:
sl = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sl2 = sorted(sl, key=lambda x: x[-1])
sl2

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3041044706.py, line 3)

7. Write a Python program to remove duplicates from a list. Use another list to store unique values.

In [11]:
ll = [14,1,2,5,3,2,4,5,14]
ll2 = set(ll)
ll2

{1, 2, 3, 4, 5, 14}

In [16]:
ll = [14,1,2,5,3,2,4,5,14]
li =[]
for i in ll:
    if(i not in li):
        li.append(i)
        
li

[14, 1, 2, 5, 3, 4]

8. Write a Python program to check if a list is empty or not

In [17]:
el =[]
if(len(el) == 0):
    print("empty")
else:
    print("not empty")

enpty

9. Write a Python program to clone or copy a list.

In [19]:
ll = [14,1,2,5,3,2,4,5,14]
cl = ll[:]
cl

[14, 1, 2, 5, 3, 2, 4, 5, 14]

10. Write a Python program to find the list of words that are longer than n from a given list of words.

In [21]:
n = int(input("enter n"))
Lt = ['abcfd', 'xyzkemfnef','au', 'aba', '1221297393874']
for i in Lt:
    if(len(i) > n):
        print(i)

enter n3
abcfd
xyzkemfnef
1221297393874

11 Write a Python function that takes two lists and returns True if they have at least one common member.

In [29]:
Lt = ['abcfd', 'xyzkemfnef','au', 'aba', '1221297393874']
lt = ['abc', 'xyz', 'aba', '1221']
for i in Lt:
    if(i in lt):
        print(True)
        break

True

12 Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [31]:
cl = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
r = cl[1:4]
r

['Green', 'White', 'Black']

13 Write a Python program to generate a 3*4*6 3D array whose each element is *.

14. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [34]:
all = [14,1,2,5,3,2,4,5,14]
odd = [elem for elem in all if elem % 2 != 0] 
odd

[1, 5, 3, 5]

15. Write a Python program to shuffle and print a specified list.

In [2]:
import random
s = [1,2,3,4,5]
random.shuffle(s)
s

[2, 3, 4, 5, 1]

16. Write a Python program to generate and print a list of the first and last 5 elements where the values are square numbers between 1 and 30 (both included).

In [9]:
sqr=[]
for i in range(1,31):
    sqr.append(i*i)
sqr 
print(sqr[:5]+sqr[26:31])

[1, 4, 9, 16, 25, 729, 784, 841, 900]

17. Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.
Sample Data:
([0, 3, 4, 7, 9]) -> False
([3, 5, 7, 13]) -> True
([1, 5, 3]) -> False

In [14]:
from sympy import isprime
l1 = [3, 5, 7, 13]
if(all(isprime(num) for num in l1)):
    print(True)
else:
    print(False)

True

18. Write a Python program to generate all permutations of a list in Python.
[Hint use library function]

In [19]:
l1 = [3, 5, 7, 1]
from itertools import permutations
pr = list(permutations(l1))
pr

[(3, 5, 7, 1),
 (3, 5, 1, 7),
 (3, 7, 5, 1),
 (3, 7, 1, 5),
 (3, 1, 5, 7),
 (3, 1, 7, 5),
 (5, 3, 7, 1),
 (5, 3, 1, 7),
 (5, 7, 3, 1),
 (5, 7, 1, 3),
 (5, 1, 3, 7),
 (5, 1, 7, 3),
 (7, 3, 5, 1),
 (7, 3, 1, 5),
 (7, 5, 3, 1),
 (7, 5, 1, 3),
 (7, 1, 3, 5),
 (7, 1, 5, 3),
 (1, 3, 5, 7),
 (1, 3, 7, 5),
 (1, 5, 3, 7),
 (1, 5, 7, 3),
 (1, 7, 3, 5),
 (1, 7, 5, 3)]

19. Write a Python program to calculate the difference between the two lists.
ex. 
l1=[1,4,7,8]
l2=[2,5,7,23]
ans => total difference is 17
explaination: 
first element diff 1
second element diff 1
third element diff 0
fourth element diff 15

In [25]:
l1=[1,4,7,8] 
l2=[2,5,7,23]
ad=0
if(l1<l2):
    a=len(l1)
    s=l2
else:
    a=len(l2)
    s=l1
for i in range(a):
    ad += l2[i] -l1[i]
for j in s[4:]:
    ad += i
print(ad)

17

20. Write a Python program to access element at given index of a list.

In [28]:
n = int(input("enter no"))
li = [1,4,7,8,2,5,7,23]
print(li[n])

enter no3
8

21. Write a Python program to convert a list of characters into a string.

In [33]:
lt = ['a','b','c','f','d']
s=""
for i in lt:
    s += i
print(s)

abcfd

22. Write a Python program to find the index of an item in a specified list.

In [35]:
n=8
li = [1,4,7,8,2,5,7,23]
print(li.index(n))

3

23. Write a Python program to flatten a simple list.

In [38]:
f = [[1, 2], [3, 4], [5, 6]]
k =[]
for i in range(len(f)):
    for j in range(len(f[i])):
        k.append(f[i][j])
        
print(k)

[1, 2, 3, 4, 5, 5, 6]

24. Write a Python program to append all elements from a list to the second list.

In [39]:
li = [1,4,7,8,2,5,7,23]
lj=[elem for elem in li]
lj

[1, 4, 7, 8, 2, 5, 7, 23]

In [44]:
li = [1,4,7,8,2,5,7,23]
lk =[]
for i in li:
    lk.append(i)
lk

[1, 4, 7, 8, 2, 5, 7, 23]

25. Write a Python program to select an item randomly from a list.

In [46]:
import random
li = [1,4,7,8,2,5,7,23]
print(random.choice(li))

2

26. Write a Python program to check whether two lists are circularly identical.
Ex.
l1=[1,2,3,4]
l2=[2,3,4,1]
l3=[4,1,2,3]
l4=[3,4,1,2] 
all l1, l2, l3 and l4 are circularly same

27. Write a Python program to find the second smallest number in a list.

In [1]:
li = [7,4,2,8,17,5,1,23]
m=min(li)
r = li[:].remove(m)
r

28. Write a Python program to find the second largest number in a list.

In [1]:
li = [1,4,17,8,2,5,7,23]
print(min(li))

1

In [3]:
rm

29. Write a Python program to get unique values from a list.

In [17]:
li = [1,4,7,8,4,5,7,1]
s = set(li)
s

{1, 4, 5, 7, 8}

30. Write a Python program to get the frequency of every element in a list.

In [2]:
li = [1,4,7,8,4,5,7,1]
st = set(li)
for i in st:
    print(i, li.count(i))

1 2
4 2
5 1
7 2
8 1

31. Write a Python program to count the number of elements in a list within a specified slice ( range) of start and end index.

In [ ]:
li = [1,4,7,8,4,5,7,1]

32. Write a Python program to check whether a list contains a sublist. ( all elements from one list are present in other list)
Ex. 
l1=[5,7,9,12]
l2=[7,9] 
l2 is sublist of l1 --> print True
l3=[12,7]
l3 is sublist of l1

In [21]:
l1=[5,7,7,9] 
l2=[7,9]
for i in range(len(l1) - len(l2)+1):
    if(l1[i:len(l2)+i] == l2):
        print(True)

True

In [18]:
c=0
for i in l2:
    if(i in l1):
        c =1        
    else:
        c=0
        print(False)
        break
if(c == 1):
    print(True)

True

33. Write a Python program to generate all sublists of a list.

In [24]:
l1=[5,7,9,12]
for i in range(len(l1)):
    for j in range(i+1,len(l1)+1):
        print(l1[i:j])

[5]
[5, 7]
[5, 7, 9]
[5, 7, 9, 12]
[7]
[7, 9]
[7, 9, 12]
[9]
[9, 12]
[12]

35. Write a Python program to create a list by concatenating a given list with a range from 1 to n.
Sample list : ['p', 'q']
n =5
Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [27]:
sl = ['p', 'q'] 
so = []
n =5
for i in range(1,n+1):
    for j in sl:
        so.append(j + str(i))
so

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

36. Write a Python program to make list of all digits from given number

In [30]:
n = 123456
l1 = [int(i) for i in str(n)]
l1

[1, 2, 3, 4, 5, 6]

37. Write a Python program to find common items in two lists.

In [33]:
l1=[5,7,9,12]
l2=[3,7,2,12,9]
l3= [i for i in l1 if i in l2]
l3

[7, 9, 12]

38. Write a Python program to change the position of every two consecutive elements n-th value to the (n+1)th in a list. ( swap nth and n+1 th value)
Sample list: [0,1,2,3,4,5]
Expected Output: [1, 0, 3, 2, 5, 4]
Explaination: here we have swapped
0 -1 , 2-3 , 4-5

In [37]:
ln = [0,1,2,3,4,5]
for i in range(0,len(ln)-1,2):
    ln[i],ln[i+1] = ln[i+1],ln[i]
ln

[1, 0, 3, 2, 5, 4]

39. Write a Python program to convert a list of multiple integers into a single integer.
Sample list: [11, 33, 50]
Expected Output: 113350
ex2:  l1=[8,9,0]
output : 890

In [39]:
li = [11, 33, 50]
s = ""
for i in li:
    s+=str(i)
int(s)

113350

40. Write a Python program to split a list of words based on the first character of a word.
if first character is vowel then put that word in l1 else put that word in l2.
Ex. 
words=['abc','xyz','op','qwe']
l1=['abc','op']
l2=['xyz','qwe']

In [40]:
words=['abc','xyz','op','qwe']
vl = ['a','e','i','o','u']
l1 =[]
l2 =[]
for i in words:
    if(i[0] in vl):
        l1.append(i)
    else:
        l2.append(i)
print(l1,l2)

['abc', 'op'] ['xyz', 'qwe']

41. Write a Python program to check if given list contains another list object or not.
Ex. l1=[10,20,30]
output: no list object inside l1

l2=[10,20,[45,67]]

42. Write a Python program to find missing and additional values in two lists.
Sample data : 
first=['b','a','c','d','e','f']
second=['d','e','f','g','h']
Missing values in second list: ['b','a','c']
Additional values in second list: ['g','h']

In [44]:
first=['b','a','c','d','e','f']
second=['d','e','f','g','h']
m =[]
a =[]
for i in first:
    if(i not in second):
        m.append(i)
for i in second:
    if(i not in first):
        a.append(i)
print(m,a)

['b', 'a', 'c'] ['g', 'h']

In [47]:
m = [i for i in first if i not in second]
a = [i for i in second if i not in first]
print(m,a)

['b', 'a', 'c'] ['g', 'h']

43. Write a Python program to split a list into different variables from center.
Ex.
l1=[12,23,34,45,56,67]
first=[12,23,34]
second=[45,56,67]

l2=[12,23,34,45,56,67,99]
first=[12,23,34]
second=[45,56,67,99]

In [51]:
l1=[12,23,34,45,56,67,99]
ft = []
sd = []
ft =l1[0:len(l1)//2]
sd =l1[len(l1)//2:len(l1)]
print(ft,sd)

[12, 23, 34] [45, 56, 67, 99]

44. Write a Python program to generate groups of three consecutive numbers in a list.
l1=[1,2,3,4,5,6,7,8,9,10]
Ans
[1,2,3], [2,3,4], [3,4,5], [6,7,8], [7,8,9], [8,9,10]

In [52]:
n = 3
con =[1,2,3,4,5,6,7,8,9,10]
for i in range(len(con) - n+1):
    print(con[i:i+n])

[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[6, 7, 8]
[7, 8, 9]
[8, 9, 10]

45. Write a Python program to take a list. Find all unique values. Then print all unique values in sorted order.

In [55]:
li = [1,4,7,8,4,5,7,1]
sorted(set(li))

[1, 4, 5, 7, 8]

47. Write a Python program to insert an element before each element of a list.
Ex. l1=[1,2,3]
insert 10 before every element
o/p  [10,1,10,2,10,3]

In [1]:
n =10
l1=[1,2,3]
l2 = []
for i in l1:
    l2.append(10)
    l2.append(i)
l2

[10, 1, 10, 2, 10, 3]

**49. Write a Python program to convert a list to a list of dictionaries. ( Hint: this is part of creating dictionaries)
Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]
Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [2]:
cn = ["Black", "Red", "Maroon", "Yellow"]
cc = ["#000000", "#FF0000", "#800000", "#FFFF00"]
cl = []
for i in range(len(cn)):
    d = dict()
    d['color_name'] = cn[i]
    d['color_code'] = cc[i]
    cl.append(d)
cl

[{'color_name': 'Black', 'color_code': '#000000'},
 {'color_name': 'Red', 'color_code': '#FF0000'},
 {'color_name': 'Maroon', 'color_code': '#800000'},
 {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

52. Write a Python program to compute the difference between two lists.
Sample data: 
color1 = ["white", "red", "orange", "green", "blue"] 
color2=["black", "yellow", "green", "blue"]

Expected Output:
Color1 - Color2: ['white', 'red', 'orange']
In color1, white, red and orange colors are there which are extra than color2

Color2 - Color1: ['black', 'yellow']
In color2, black and yellow colors are there which are extra than color2

In [5]:
c1 = ["white", "red", "orange", "green", "blue"] 
c2 =["black", "yellow", "green", "blue"]
c1_c2 = []
c2_c1= []
for i in c1:
    if(i not in c2):
        c1_c2.append(i)
for i in c2:
    if(i not in c1):
        c2_c1.append(i) 

print(c1_c2, c2_c1)

['white', 'red', 'orange'] ['black', 'yellow']


**53. Write a Python program to create a list with infinite elements.(this is part of generator function

In [7]:
def infinite_list():
    num = 0
    while True:
        yield num
        num += 1

gen = infinite_list()
gen

54. Write a Python program to concatenate elements of a given list to another list.

In [8]:
lt1 = [1, 4, 5, 7, 8]
lt2 = [10, 1, 10, 2, 10, 3]
lt1 = lt1+lt2
lt1

[1, 4, 5, 7, 8, 10, 1, 10, 2, 10, 3]

56. Write a Python program to convert a string to a list.

In [9]:
st = "harshnipane"
list(st)

['h', 'a', 'r', 's', 'h', 'n', 'i', 'p', 'a', 'n', 'e']

57. Write a Python program to count how many times a word comes in given list of words.
Ex
word = "cdac"
word_list=["cadc","cdac","iop","lkjh","cdac"]

In [10]:
word = "cdac"
word_list=["cadc","cdac","iop","lkjh","cdac"]
print(word_list.count(word))

2

58. Write a Python program to replace the last element in a list with another list.
Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [14]:
x = [1, 3, 5, 7, 9, 10]
y= [2, 4, 6, 8] 
x.remove(10)
for i in y:
    x.append(i)
x

[1, 3, 5, 7, 9, 2, 4, 6, 8]

59. Write a Python program to check whether the n-th element exists in a given list. Dont give error if n is out of bounds, print out of bounds message.
Ex.
l1=[90,98,87,76,65]
n=1 o/p: exists ( explaination l1[1] exists)
n=10 o/p: out of bound index

In [17]:
l1=[90,98,87,76,65] 
n=10
if(n < len(l1)):
    print("exist", l1[n])
else:
    print("out of bound index")

out of bound index

**60. Write a Python program to find a tuple, the smallest second index value from a list of tuples.

In [21]:
ltu= [(10,5),(8,2),(2,9)]
x = sorted(ltu,key = lambda x: x[1])
x[0]

(8, 2)

In [22]:
st = ltu[0] 
for tup in ltu[1:]:  
    if tup[1] < st[1]:
        st = tup
st

(8, 2)

**61. Write a Python program to create a list of empty dictionaries.

In [24]:
led = [{}]*4
led

[{}, {}, {}, {}]

**62. Write a Python program to print a list of space-separated elements.

In [26]:
st = "h d k d y s er4 j k n d"
st1 = st.split(" ")
st1

['h', 'd', 'k', 'd', 'y', 's', 'er4', 'j', 'k', 'n', 'd']

63. Write a Python program to insert a given string at the beginning of all items in a list.
Sample list : [1,2,3,4], string : emp
Expected output : ['emp1', 'emp2', 'emp3', 'emp4']

In [36]:
numl = [1,2,3,4]
wrd = 'emp'
for i in range(len(numl)):
    numl[i] = wrd +str(numl[i])
numl

['emp1', 'emp2', 'emp3', 'emp4']

64. Write a Python program to iterate over two lists simultaneously.
ex.
l1=[2,4,7]
l2=[12,45,67]

In [38]:
l1=[2,4,7]
l2=[12,45,67]
for i,j in zip(l1,l2):
    print(i,j)

2 12
4 45
7 67

65. Write a Python program to move all zero digits to the end of a given list of numbers.

In [46]:
lz = [1,0, 3, 5,0, 7, 0,9, 10]
count =0
for i in lz:
    if(i ==0):
        lz.remove(i)
        count +=1
while(count != 0):
    lz.append(0)
    count -= 1

lz

[1, 3, 5, 7, 9, 10, 0, 0, 0]

In [53]:
lz = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
count =0
for i in lz:
    if(i ==0):       
        lz.remove(i)
        lz.append(0)
        count +=1
print(lz)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

66. Write a Python program to find the list in a list of lists whose sum of elements is the highest.
Sample list: 
l1=[[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
Expected Output: [10, 11, 12]

In [57]:
hg =[[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
maxx = 0
for i in hg:
    if(sum(i) > maxx):
        maxx = sum(i)
        elem = i
print(elem)

[10, 11, 12]

69. Write a Python program to remove duplicates from a list of lists.
Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
New List : [[10, 20], [30, 56, 25], [33], [40]]

In [60]:
dp = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
ul = []
for i in dp:
    if(i not in ul):
        ul.append(i)
ul

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
70. Write a Python program to find items starting with a specific character from a list.
Example:
Original list:
['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
Items start with a from the said list:
['abcd', 'abc', 'acjd']

In [3]:
lst = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
ltr = 'b'
a = []
for i in lst:
    if(i[0] == ltr):
        a.append(i)
a

['bcd', 'bkie']

**71. Write a Python program to check whether all dictionaries in a list are empty or not.
Sample list : [{},{},{}]
Return value : True
Sample list : [{1,2},{},{}]
Return value : False

In [6]:
el = [{1,2},{},{}]
c=0
for i in el:
    if i:
        c= 1
        print(False)
        break
    else:
        c=0
if(c==0):
    print(True)

False

72. Write a Python program to flatten a given nested list structure.
Original list: [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]
Flatten list:
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [12]:
l1 = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]
l2 = []
for i in l1:
    if(type(i) == list):
        for j in i:
            l2.append(j)
    else:
        l2.append(i)
print(l2)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [15]:
73. Write a Python program to remove consecutive (following each other continuously) duplicates (elements) from a given list.
Original list:
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
After removing consecutive duplicates:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

[1, 2, 3, 4, 5, [7, 8, 9, 7, 8, 9]]

In [40]:
l1 = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6,7, 8, 9, 4, 4]
res = [l1[0]]
for i in range(1,len(l1)):
    if(l1[i] != l1[i-1]):
        res.append(l1[i])
res

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]